$primary-color: #10069F; //for header

$color-breadcrump-background: #F3F3F4;
$color-breadcrump-text: #595959;

$color-body-background:#F9F9FA;

$color-white: #FFFFFF;

$color-pargraph: #595959;

$color-header-1: #4e525b;

$color-payment: #3888ce;

$color-category: #3888ce;

$color-footer: #222222;
$color-footer-text: #939393;


$color-sidebar-header: #aaa;
$color-sidebar: #4b515a;
$color-sidebar-border: #818181;
$color-sidebar-text: #f7f7f7;

$color-nav-text: #b7b7b7;
