img {
    width: 100px;
    height: 100px;
}

h1 {
    color: #4E525B;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 300; 
    font-size: 46px;
    line-height: 50px;

}