.Nav-Bar {
    background-color: #ffffff;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;

}

.Nav-Bar img{
    width: 20%; 
    height: 100%;
    margin: 10px;
}

h3 {
    font-size: 13px;
    font-weight: 300;
    line-height: 14px;
}
