.Nav-Bar {
    background-color: #ffffff;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
 

}

.Nav-Bar img{
    width: 20%; 
    height: 100%;
    margin: 10px;
 
}

.item{
    display: inline-block; /*you need this to make the text within the div to be on the same line */
    position: absolute; /*this made my text in the middle of the bar */
    margin: auto;
    text-align: right;
    
}

h3 {
    font-size: 13px;
    font-weight: 300;
    line-height: 14px;
    display: inline-block;
    padding: 10px 10px;
    margin: 0px 0px;
  
}
